@value colors: '../../../styles/colors.module.css';
@value themeColor1, themeColor2, hoverColor, textColor from colors;

.comment{

}
.editBox{
    display: flex;
    margin: 10px 0 20px;
}
.avatarBox{
    width: 80px;
}
.avatar{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background-color: themeColor1;
    color: themeColor2;
    font-size: 36px;
}
.editInputBox{
    width: calc(100% - 80px);
}

.flex2{
    flex: 2;
}
.flex3{
    flex: 3;
}

.inputBox{
    display: flex;
    margin-bottom: 8px;
}
.inputItem{
    display: flex;
    height: 36px;
    border-radius: 14px;
    margin-right: 10px;
    overflow: hidden;
}
.inputItem:last-child{
    margin-right: 0;
}
.inputKey
{
    width: 56px;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: themeColor2;
    user-select: none;
}
.inputKey:hover{
    background-color: hoverColor;
}
.inputVal{
    flex: 1;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: themeColor1;
    outline: none;
    border: none;
    text-align: center;
    padding: 0 8px;
    margin: 0;
}
.textareaBox{
    border-radius: 14px;
    height: 140px;
    padding: 8px 16px;
    background-color: themeColor1;
    margin-bottom: 8px;
}
.textarea{
    width: 100%;
    height: 100%;
    font-size: 18px;
    background-color: themeColor1;
    border: none;
    resize: none;
    outline: none;
}
.commentBtns{
    display: flex;
    position:relative
}
.emojiBtn{
    width: 36px;
    height: 36px;
    border-radius: 12px;
    background-color: themeColor1;
    transition: all .3s;
    cursor: pointer;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    user-select: none;
}
.emojiBtn:hover{
    background-color: hoverColor;
}
.previewBtn,
.sendBtn{
    position: absolute;
    right: 0;
    border-radius: 16px;
    background-color: themeColor1;
    padding: 2px 16px;
    transition: all .3s;
    cursor: pointer;
}
.previewBtn:hover,
.sendBtn:hover{
    background-color: hoverColor;
}
.previewBtn{
    right: 80px;
}