@value colors: '../../../../../styles/colors.module.css';
@value themeColor1, hoverColor from colors;

.commentBtns{
    display: flex;
    position:relative
}
.cancelBtn,
.previewBtn,
.sendBtn{
    position: absolute;
    right: 0;
    border-radius: 16px;
    background-color: themeColor1;
    padding: 2px 16px;
    transition: all .3s;
    cursor: pointer;
}
.cancelBtn:hover,
.previewBtn:hover,
.sendBtn:hover{
    background-color: hoverColor;
}
.previewBtn{
    right: 80px;
}
.cancelBtn{
    right: 160px;
}

@media screen and (max-width: 1240px) {
    .cancelBtn,
    .previewBtn,
    .sendBtn{
        border-radius: 6rem;
        padding: 2rem 6rem;
    }
    .previewBtn{
        right: 50rem;
    }
    .cancelBtn{
        right: 100rem;
    }
}