@value colors: '../../styles/colors.module.css';
@value textColor, themeColor from colors;

.card{
    background-color: themeColor;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    user-select: none;
    overflow: hidden;
    transition: all .3s;
    color: textColor;
}
.card:hover{
    transform: scale(1.02);
}