@value colors: '../../../styles/colors.module.css';
@value themeColor1, hoverColor, textColor, textColor2 from colors;

.copyRight{
    position: relative;
    background-color: themeColor1;
    border-radius: 20px;
    padding: 20px; 
    color: textColor2;
}
.articleTitle{
    font-size: 20px;
    font-weight: 700;
}
.articleLink{
    font-size: 14px;
}
.copyBtn{
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
}
.copyBtn:hover{
    background-color: hoverColor;
    color: textColor;
}

.statement{
    font-size: 16px;
}
.agreement,
.sitename{
    padding: 4px;
    border-radius: 8px;
    transition: all .3s;
    cursor: pointer;
    font-weight: 700;
}
.agreement:hover,
.sitename:hover{
    background-color: hoverColor;
    color: textColor;
}

.copyrightIcon{
    width: 128px;
    height: 128px;
    position: absolute;
    right: 20px;
    top: 4px;
    font-size: 128px;
}

@media screen and (max-width: 1240px) {
    .copyRight{
        border-radius: 10rem;
        padding: 10rem;
    }
    .articleTitle{
        font-size: 20rem;
    }
    .articleLink{
        font-size: 14rem;
    }
    .copyBtn{
        width: 24rem;
        height: 24rem;
    }
    .statement{
        font-size: 16rem;
    }
    .copyrightIcon{
        display: none;
    }
}