@value constants: '../../../styles/constants.module.css';
@value footerHeight from constants;
@value colors: '../../../styles/colors.module.css';
@value themeColor1, textColor, hoverColor, footerBg from colors;

.footer {
    height: footerHeight;
    background-color: footerBg;
    color: textColor;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}

.footerTitle {
    user-select: none;
}

.tag {
    background-color: themeColor1;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 700;
    margin-right: 10px;
    transition: all .2s;
    white-space: nowrap;
    user-select: none;
}

.tag:hover {
    background-color: hoverColor;
}

@media screen and (max-width: 1240px) {
    .footer {
        height: 70rem;
        font-size: 14rem;
    }

    .tag {
        display: none;
    }
}