@value colors: '../../../../styles/colors.module.css';
@value themeColor1, themeColor2, hoverColor, textColor, textColor2 from colors;

.commentItem{
    margin-bottom: 20px;
}
.commentItem:last-child{
    margin-bottom: 0;
}
.commentBox{
    display: flex;
}
.avatarBox{
    width: 80px;
}
.contentBox{
    width: calc(100% - 80px);
}
.userInfo{
    position: relative;
    height: 34px;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.name{
    display: inline-block;
    height: 30px;
    color: textColor2;
    padding: 0 6px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s;
    font-weight: 700;
}
.name:hover{
    color: textColor;
    background-color: hoverColor;
}
.date{
    margin-left: 10px;
    color: textColor;
}

.reply{
    width: 28px;
    height: 28px;
    border-radius: 6px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.reply:hover{
    background-color: hoverColor;
}
.content{
    padding: 10px 16px;
    border-radius: 14px;
    background-color: themeColor1;
    font-size: 18px;
    word-break: break-all;
}

.replyBox{
    padding: 2px 14px 14px;
}