@value colors: '../../../../styles/colors.module.css';
@value themeColor1 from colors;

.previewBox{
    border-radius: 14px;
    min-height: 140px;
    padding: 8px 16px;
    background-color: themeColor1;
    margin-bottom: 8px;
    overflow: hidden;
    margin-top: 12px;
}