@value colors: '../../../styles/colors.module.css';
@value hoverColor, textColor from colors;

.linkCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    width: 44px;
    height: 44px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.icon:hover{
    color: textColor;
    background-color: hoverColor;
}