@value colors: '../../../../styles/colors.module.css';
@value tipColor from colors;


.noMsg,
.hasMsg{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: tipColor;
}
.hasMsg{
    height: 60px;
}

@media screen and (max-width: 1240px) {
    .noMsg{
        height: 120rem;
    }
    .hasMsg{
        height: 60rem;
    }
}