@value colors: '../../styles/colors.module.css';
@value textColor, themeColor, themeColor1, themeColor2, hoverColor from colors;
@value constants: '../../styles/constants.module.css';
@value contentWidth from constants;

.mySwitch{
  position: relative;
  background-color: themeColor1;
  width: 72px;
  height: 36px;
  border-radius: 18px;
  margin: 0 12px;
}
.ball{
  position: absolute;
  top: 0;
  background-color: themeColor2;
  height:36px;
  width: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s;
}
.ball:hover{
  background-color: hoverColor;
}

.ballLeft{
  left: 0;
}
.ballRight{
  left: 36px;
}