@value colors: '../../../styles/colors.module.css';
@value themeColor1, hoverColor from colors;

.article:hover{
    transform: scale(1.02);
}
.title{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    height: 80px;
    line-height: 80px;
    
}
.content{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 18px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 2em;
    margin: 0;
}
.info {
    position: relative;
    margin-top: 20px;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 16px;
}
.tag{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: themeColor1;
    transition: all .3s;
}
.tag:hover{
    background-color: hoverColor;
}
.date{
   position: absolute;
   left: 0;
   top: 0;
}