@value colors: '../../../../styles/colors.module.css';
@value textColor, textColor2, themeColor, themeColor1, themeColor2, hoverColor from colors;

.editBox{
    margin: 10px 0 20px;
    color: textColor;
    font-size: 18px;
}
.contentBox{
    display: flex;
}
.avatarBox{
    width: 80px;
}
.editInputBox{
    width: calc(100% - 80px);
}

@media screen and (max-width: 1240px) {
    .editBox{
        margin: 10rem 0 20rem;
    }
    .avatarBox{
        width: 45rem;
    }
    .editInputBox{
        width: calc(100% - 45rem);
    }
}