@value constants: '../styles/constants.module.css';
@value contentWidth, asideWidth from constants;
@value colors: '../styles/colors.module.css';
@value textColor from colors;

.center{
    width: contentWidth;
    margin: 0 auto;
}
.body{
    display: flex;
}

@media screen and (max-width: 1240px) {
    .center{
        width: 100vw;
    }
}