
html,
body {
  padding: 0;
  margin: 0;
  font-family: dengxian;
}
#__next{
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
} 

* {
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  overflow-y: overlay;
}

::-webkit-scrollbar{
  width: 14px;
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb{
  border-radius: 7px;
  background: var(--themeColor1, rgb(39, 95, 89));
}
::-webkit-scrollbar-track{
  border-radius: 7px;
  background: rgba(0,0,0,0);
}