@value colors: '../../../styles/colors.module.css';
@value themeColor1, hoverColor from colors;

.articleTags{
    margin-bottom: 12px;
}
.tag{
    background-color: themeColor1;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 16px;
    transition: all .3s;
}
.tag:hover{
    background-color: hoverColor;
}

@media screen and (max-width: 1240px) {
    .articleTags{
        margin-bottom: 12rem;
    }
    .tag{
        padding: 4rem 8rem;
        border-radius: 8rem;
        margin-right: 8rem;
        transition: all .3s;
    }
}