@value colors: '../../../styles/colors.module.css';
@value hoverColor, textColor from colors;

.info{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-radius: 14px;
    padding: 4px 12px;
}
.info:first-child{
    margin-bottom: 8px;
}
.info:hover{
    background-color: hoverColor;
}